# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Airflow runtime logs
Infra/logs/
**/logs/

# Python cache
__pycache__/
*.pyc

# Environment
venv/
.env